*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}
html {
    font-size: 62.5%;

    /*
    this one is uneccessary because the next one will be executed because it also lower
    @include respond(phone) {
        font-size: 50%;
    }
    */

    
    @include respond(tab-land) {
        font-size: 56.5%;
    }

    // this one is lower because of specificity
    @include respond(tab-port) {
        font-size: 50%; //1rem = 8px, 8/16 = 50%
    }

    @include respond(big-desktop) {
        font-size: 75%;
    }
     
}

body {
    box-sizing: border-box;
    padding: 3rem;

    @include respond(tab-port) {
        padding: 0;
    }
}